<template>
<div class="page-wrapper">
  <div class="page" id="material-dark">
    <div class="page-inner">
      <component is="material-dark"></component>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue';
import '../resumes/resumes';
export default Vue.component('resume', {
    name: 'app'
});
</script>

<style scoped>
.page-inner{
  height: 100%;
  width: 100%;
}
.page-wrapper {
  overflow-x: hidden;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  -webkit-print-color-adjust: exact;
  box-sizing: border-box;
}

.resume {
  height: 100%;
  width: 100%;
}

.page {
  background: white;
  position: relative;
  max-width: 1000px;
  display: block;
  page-break-after: auto;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
</style>
